= simple_form_for ShelterPhoto.new, url: shelter_photos_path do |f|
  = f.hidden_field :shelter_id, value: @shelter.id, name: "photo[shelter_id]"
  = f.file_field :shelter_photo, multiple: true, name: "photo[title]"