.col-12.col-lg-6
  %h2= t(".sign_up")
  = simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
    = f.error_notification
    .form-inputs
      = f.input :avatar, as: :file, wrapper: :file_input, label: t(".avatar")
      = f.input :username, required: true, label: t(".username")
      = f.input :email, required: true, autofocus: true, type: :email
      = f.input :email_visible, label: t(".email_visible")
      = f.input :password, required: true
      = f.input :password_confirmation, required: true
      = f.input :fullname, label: t(".fullname")
      = f.input :about, label: t(".about")
    .form-actions
      = f.button :submit, t(".sign_up")
  = render "devise/shared/links"



