= simple_form_for PetPhoto.new, url: pet_photos_path do |f|
  .custom-file.file.optional.pet_photos
    = f.file_field :pet_photo, multiple: true, name: "photo[title]", class:"custom-file-input file optional"
    = f.label :pet_photo, "Upload photos", class:"custom-file-label file optional"