- @page_title = "| " + t('view.title.terms')
%center
  %strong Правила[VERY EARLY DEMO TEST]
%p
  BillyBo создан для того, чтобы вам было удобней найти хозяев для жителей вашего приюта.
%span
  1. Мы допускаем к участию только проекты, которые:
  %ul
    %li · содержат животных на бесплатной основе;
%span
  2. Не допускаются Проекты:
  %ul
    %li·предлагающие сбор средств на рекламные и агитационные компании;
    %li·нарушающие законодательство Российской федерации или наши внутренние убеждения;
%span
  4. Перечень запрещённых направлений при реализации Проектов на BillyBo:
  %ul
    %li· Проекты не связанные с животными.
%p
  BillyBo – это платформа, объединяющая людей любящих животных и окружающий мир, проявляющих ответственность, взаимоуважение и порядочность. Пожалуйста, внимательно ознакомьтесь с настоящими правилами, являющимися неотъемлемой частью.
%span
  Пользовательского соглашения:
  %ul
    %li· Какой бы источник информации вы не выбрали для продвижения своего проекта, избегайте спама, включающего в себя размещение информации о своем проекте на страницах участников, спам-атаку социальных сетей, флуд.
    %li· Уважайте чувства других. Не размещайте оскорбительные комментарии, угрозы, избегайте незаконных действий, вторжения в личную жизнь, пропаганды, расовой нетерпимости, вульгарных и непристойных материалов, а также прочего неприемлемого поведения, включая раскрытие личной информации участников.
%span
  Действия, нарушающие данные правила или условия Пользовательского соглашения, ведут к блокировке или удалению учетных записей пользователей.