// Place all the styles related to the admin/Application controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";
@import "font-awesome";
@import url('https://fonts.googleapis.com/css?family=Roboto');

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}


.nomargin {
   margin: 0 !important;
   margin: 0 !important;
}


* { margin: 0; padding: 0; }
p { margin: 5px 0 10px 0; }

header{
  background-color: #00a4e3;
}

.sidebar{
  height: 100%;
  width: 100%;
  background-color: #162028;
 }




// BOOTSTRAP CUSTOM

.navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active{
  color: white;
}

.navbar-light .navbar-nav .nav-link{
  color: white;
}

