// Place all the styles related to the admin/Application controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";
@import "font-awesome";
@import url('https://fonts.googleapis.com/css?family=Roboto');

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

* { margin: 0; padding: 0; list-style: none;}
p { margin: 5px 0 10px 0; }
ul {margin: 0; padding: 0;}
body{
  background-color: #f1f1f1;
}
header{
  background-color: white;
}
aside{
  height: 100%;
  width: 50px;
  background-color: #162028;
  z-index: 1;
  position: fixed;
 }

.bg-aqua{background-color:#00c0ef!important;}
.bg-red{background-color:#dd4b39 !important;}
.bg-green{background-color:#00a65a !important;}
.bg-yellow{background-color:#f39c12 !important;}

.br25{border-radius: 25px;}
.btn{color: white;}
.id{width:50px;}
.actions{width:120px;}
:focus{outline: 0!important; box-shadow: none!important;}

.list tr{height: 42px;}
.list th .asc {background-image: url(/images/up_arrow.gif);}
.list th .desc {background-image: url(/images/down_arrow.gif);}
.list th .current {
  padding-right: 12px;
  background-repeat: no-repeat;
  background-position: right center;
}

.btn > a, .btn > a:hover, .btn > a:focus {
  color: white;
}

.dropdown-menu{padding: 0.5rem}


#body{
  position: absolute;
  padding-left: 50px;
  padding-right: 0px;
}

.sq li {
  height: 50px;
  width: 100%;
  font-size: 25px;
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
}

.sq li:hover {
  background-color: #232d36;
}

.sq a{
  color: white;
}

.sq a:hover{
  color: #00b1dd;
}


// CARD
.stats{
  display: block;
  font-size: 0;
}

.stats section{
  display: inline-block;
}

.card-s{
  background-color: white;
  box-shadow: 0 1px 2px rgba(0,0,0,.18);
  height: 90px;

}

.info-box-icon{
  display: block;
  line-height: 90px;
  height: 90px;
  width: 90px;
  float: left;
  font-size: 35px;
  vertical-align: middle;
  text-align: center;
  color: white;
}
.info-box-icon i{
  line-height: 90px;
}

.info-box-content{
  padding: 5px;
  margin-left: 90px;
  font-size: 15px;
}

.info-box-content strong{
  font-size: 20px;
}

// BOOTSTRAP CUSTOM

.custom-file{
  margin-bottom: 1rem;
}
.custom-file-input{
  cursor: pointer;
}
