// Place all the styles related to the admin/pets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.name{width: 150px;}
.shelter{width: 150px;}
.country{width: 150px;}