// Place all the styles related to the admin/Settings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#country-control, #region-control, #city-control{
  display: inline;
  margin-left: 15px;
}