// Place all the styles related to the admin/shelters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.country{width:140px;}
.moderation{width:100px;}
.verified{width:70px;}
.user{width:140px;}
.status{width:100px;}
.title{width:200px;}