/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */
@import "bootstrap";
@import "font-awesome";
@import url('https://fonts.googleapis.com/css?family=Roboto');


* {
  list-style: none;
}

body {
  background: #F8F8F8;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

header {
  height: 55px;
  overflow: hidden;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 22px;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 14px;
}

h5 {
  font-size: 10px;
}

h6 {
  font-size: 8px;
}

// a {
//   color: #15c;
//   text-decoration: none;
// }

a:hover {
  // color: #212529;
  text-decoration: none;
}


#body {
  min-height: calc(100vh - 155px);
}

.map {
  background: #F8F8F8;
  height: 60vh;
  width: 100%;
  z-index: -1;
}

.nav-custom {
  position: absolute;
  background-color: white;
  box-shadow: 0 -1px 5px 0px black;
  min-width: 100%;
  z-index: 2;
}

/* SCROLLBAR  */

.img-scroll::-webkit-scrollbar-track
{
  background-color: #EFEFEF;
  border-radius: 3px;
}

.img-scroll::-webkit-scrollbar
{
  height: 6px;
}

.img-scroll::-webkit-scrollbar-thumb
{
  border-radius: 3px;
  background-color: #DFDFDF;
}

.img-scroll::-webkit-scrollbar-thumb:hover
{
  border-radius: 3px;
  background-color: #D8D8D8;
}

/* END */

.category ul {
  margin-bottom: 0;
  float: left;
}

.category li {
  display: inline-block;
}

/* INTERNAL PAGES */
.card-s {
  border: solid 1px #fff;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0,0,0,.28);
  background: #fff;
  margin-bottom: .5rem!important;
}
.card-s h4 {
  width: 80%;
  margin-left: 10%;
}
/* END */

footer {
  height: 100px;
  background: #F8F8F8;
}

.footer ul {
  position: relative;
  top: 50%;
}

.footer ul li{
  display: inline-block;
  margin-right: 5px;
}

.footer-link {
  width: 80%;
  margin-left: 10%;
  border-top: #e0e0e0 solid 1px;
}
