/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery-ui
 *= require jquery.fileupload
 *= require jquery.fileupload-ui
*/
@import "bootstrap";
@import "font-awesome";
@import url('https://fonts.googleapis.com/css?family=Roboto');

.bg-aqua{background-color:#00c0ef!important;}
.bg-red{background-color:#dd4b39 !important;}
.bg-green{background-color:#00a65a !important;}
.bg-yellow{background-color:#f39c12 !important;}

.cl-aqua{color:#00c0ef!important;}
.cl-red{color:#dd4b39 !important;}
.cl-green{color:#00a65a !important;}
.cl-yellow{color:#f39c12 !important;}

.full-height{min-height: calc(100vh - 250px);}

* {
  list-style: none;
}

body {
  background: #F8F8F8;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

header {
  height: 55px;
  overflow: hidden;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 22px;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 14px;
}

h5 {
  font-size: 10px;
}

h6 {
  font-size: 8px;
}

:focus{outline: 0!important; box-shadow: none!important;}

// a {
//   color: #15c;
//   text-decoration: none;
// }

a:hover {
  // color: #212529;
  text-decoration: none;
}


#body {min-height: calc(100vh - 200px)}

.map {
  background: #F8F8F8;
  height: 60vh;
  width: 100%;
  z-index: -1;
}

.nav-custom {
  position: absolute;
  background-color: white;
  box-shadow: 0 -1px 5px 0px black;
  min-width: 100%;
  z-index: 2;
}

/*UPLOADER*/

.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}


/* SCROLLBAR  */

.img-scroll::-webkit-scrollbar-track
{
  background-color: #EFEFEF;
  border-radius: 3px;
}

.img-scroll::-webkit-scrollbar
{
  height: 6px;
}

.img-scroll::-webkit-scrollbar-thumb
{
  border-radius: 3px;
  background-color: #DFDFDF;
}

.img-scroll::-webkit-scrollbar-thumb:hover
{
  border-radius: 3px;
  background-color: #D8D8D8;
}

/* END */

.category ul {
  margin-bottom: 0;
  float: left;
}

.category li {
  display: inline-block;
}

.card-s {
  border: solid 1px #fff;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0,0,0,.28);
  background: #fff;
  margin-bottom: .5rem!important;
}
// .card-s-active:hover {
//   box-shadow: 0 1px 12px 2px rgba(0, 0, 0, 0.28);
// }

.card-a a {
  color: #212529!important;
  text-decoration: none;
}
.card-loops a{color: #212529;}
.card-loop{
  background: white;
  padding: 2px;
  border: solid 1px #fff;
  border-radius: 1px;
  box-shadow: 0 1px 2px rgba(0,0,0,.28);
}
.card-loop-image{
  justify-content: center;
  display: flex;
  max-width:100%;
  overflow: hidden;
}

.card-loop-info{
  display: flex;
  flex-direction: column;
}
@media (min-width: 992px) {
  .card-loop{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 190px;
    // flex-direction: row;
  }

  .card-loop-image img{
    max-height: 150px;
  }
}
@media (max-width: 991px) {
  .card-loop-image img{
    max-height: 300px;
  }
}

.hover:hover{box-shadow: 0 1px 5px rgba(0,0,0, 0.28)}
// .card-s-active div {
//   height: 253px;
//   overflow: hidden;
//   line-height: 200px;
// }

// .card-img {
//   max-width: 100%;
//   vertical-align: middle;
// }

footer {
  height: 100px;
  background: #F8F8F8;
}

.footer ul {
  position: relative;
  top: 50%;
}

.footer ul li{
  display: inline-block;
  margin-right: 5px;
}

.footer-link {
  width: 80%;
  margin-left: 10%;
  border-top: #e0e0e0 solid 1px;
}


/* PETS\SHELTER PAGES */

dl {
  vertical-align: top;
  padding: 1px;
  height: auto;
}

dl.list-spec{
  // border-bottom: 1px solid rgba(0, 0, 0, 0.04);
}

dl.list-spec ul, dl.list-spec dl{
  padding: 0;
  margin: auto;
}

dt {
  font-weight: normal!important;
  width: 25%;
  min-width: 140px;
  float: left;
  display: inline-block;
}

dd {
  display: table;
  text-align: left;
  margin: 0;
}

dl.list-spec dl dt{
  width: 10%;
}

dl.list-spec dl dd{
  width: 90%;
}

.main-img {
  display: list-item;
  text-align: center;
  vertical-align: middle;
  height: 420px;
  line-height: 420px;
}

.main-img img{
  border-radius: 8px;
  padding: 5px;
  max-height: 100%;
  max-width: 100%;
}

.img-scroll {
  overflow-x: auto;
  white-space: nowrap;
  overflow-y: hidden;
  padding-bottom: 5px;
}

.img-scroll div {
  display: inline-block;
  vertical-align: middle;
}

.img-scroll img {
  height: 120px;
}

.photo{
  position: relative;
  text-align: center;
}
.img-controll{
  visibility: hidden;
  position: absolute;
  line-height: 16px;
  font-size: 16px;
  top: 4px;
  left: 4px;
  cursor:pointer;
}

.img-controll i{
  width: 18px;
  height: 18px;
  padding: 1px;
  color: white;
  background: #00a4b5;
  border-radius: 50px;
}
.img-controll i:hover{
  cursor:all-scroll;
  color: white;
  background: #117a8b;
}

.photo:hover .img-controll {visibility: visible;}

/* END */


/* ANNOTATION */

.annotation-toggle {
  color: rgba(0,0,0,0.2);
  display:none;
}

.annotation-toggle:hover{
  cursor: pointer;
}

.product-tip-wrapper {
  display: none;
  position: absolute;
  background-color: #fff9a3;
  font-size: 13px;
  line-height: normal;
  border: solid 1px #fff9a3;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0,0,0,.28);
}

.product-tip-wrapper p {
  margin-bottom: 0;
}

.annotation {
  padding: 5px;
}

/* END */


.btn > a, .btn > a:hover, .btn > a:focus {
  color: white;
}

.none-shadow:hover {
  box-shadow: 0 1px 3px rgba(0,0,0,.28);
}


/* The alert message box */
.alert, .notice{
  position: fixed;
  padding: 10px;
  color: white;
  margin-bottom: 0;
  z-index: 1;
  right: 0;
  bottom: 0;
}

/* The close button */
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
    color: black;
}

@media (min-width: 768px){
  .alert, .notice{
    right: 10px;
    bottom: 10px;
  }
}

@media (max-width: 767px){
  .alert, .notice{
    width: 100%;
  }
}

/*FILE INPUT*/
.custom-file{
  margin-bottom: 1rem;
}

.custom-file-input{
  cursor: pointer;
}

// BOOTSTRAP
.dropdown-menu {padding:0.5rem;}

// SEARCH

  // AUTO CLASSES
  .pet_search *, .shelter_search *{margin-bottom:4px}

  .search-result{border-top: 1px #e1e1e1 solid}
  .search-result-information{}
  // .search-result-pet-avatar{max-width: 200px; max-height: 200px;}


  @media (min-width: 992px) {
    .search-result{border-right: 1px #e1e1e1 solid}
    .card-loop{
      max-height: 200px;
    }

    .card-loop-image img{
      max-height: 190px;
    }
  }
  @media (max-width: 991px) {
    .card-loop-image img{
      // max-height: 350px;
      width: 100%;
    }
  }


.pagination {
  justify-content: center;
}