// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.top-img {
  position: relative;
  z-index: 0;
  min-height: 400px;
  min-width: 100%;
  background-size: cover;
  background-position: center center;
}

.top-text {
  background-color: rgba(0,0,0,.20);
  position: absolute;
  height: 400px;
  width: 100%;
  z-index: 1;

}

.top-text h1 {
  position: relative;
  top: 50%;
  color: white;
}

.card-s h3 {
  width: 80%;
  margin-left: 10%;
  border-bottom: solid 1px rgba(0,0,0,.12);
}

.more_links{
  color:#212529!important;
  text-decoration: underline;
}