// Place all the styles related to the Pets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.btn > a, .btn > a:hover, .btn > a:focus {
  color: white;
}

.euthanasia{
  display: block;
}

.euthanasia div{
  display: inline-block;
}

.inline {
  display: block;
}

.inline div{
  display: inline-block;
}

.pet_euthanasia > .checkbox{
  display: inline;
}
