// Place all the styles related to the Shelters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

label{margin:0px}
.input-group{margin-bottom: 1rem}

.schedule{width: 240px;}
#schedule dt {
  // font-weight: normal !important;
  width: 5%;
  min-width: 30px;
  float: left;
  display: inline-block;
}
#shelter_staff_username{width:150}