%html
  = render partial: 'admin/layouts/head'
  %body{data: {locale: I18n.locale}}
    %div.container-fluid
      %div.row
        %aside.nopadding
          = render partial: 'admin/layouts/sidebar'
        %div#body.col-12
          %div.container-fluid
            %div.row
              = render partial: 'admin/layouts/header'
            %div.row
              = yield