%html
  = render partial: 'admin/layouts/head'
  %body
    %div#body.container-fluid
      %div.row
        %div.col-1.nopadding
          = render partial: 'admin/layouts/sidebar'
        %div.col-11.nopadding
          %div.container-fluid
            %div.row
              %div.col-12.nopadding
                = render partial: 'admin/layouts/header'
            %div.row
              %div.col-12.nopadding
                = yield