%html
  = render partial: 'admin/layouts/head'
  %body
    %div.container-fluid
      %div.row
        %aside.nopadding
          = render partial: 'admin/layouts/sidebar'
        %div#body.col-12
          %div.container-fluid
            %div.row
              %div.col-12.nopadding
                = render partial: 'admin/layouts/header'
            %div.row
              %div.col-12.nopadding
                = yield